body {
	background-color: #292c33; 
}
.bklyn {
	width: 110px;
	height: auto;
	margin: 10px;
	padding: 10px;
	text-align: center; 
	float: left;
	border-right-style: solid;
	border-right-color: #fff;
	border-right-width: 2px; 
}
.logoutBtn {
	background-color: #cccccc; 
	margin-right: 10px; 
}

.logoutBtn:hover {
	background-color: #636363;
}

.footerLogos {
	width: 75px;
	height: 75px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.socailLinks { 
	float: left;
	position: relative;
	margin-right: 15px; 
	border-right-style: solid;
	border-right-color: #fff;
	border-right-width: 3px; 
	padding-right: 15px;
}
.lastSocialLink {
	float: left;
	position: relative;
}
#facebook {
	background-image: url('../images/social/fb.png')
}
#instagram {
	background-image: url('../images/social/ig.png');
}
#twitter {
	background-image: url('../images/social/tw.png');
}
#navTable {
	margin-bottom: 10px; 
}
.navWrapper {
	background-color: #000; 
}
.navHeader {
	margin-bottom: 70px;
}
.teamsHolder,
.myTeamsHolder {
	width: 90%;
	margin-left: 5%;
	margin-top: 20px; 
}
.teamHeader {
	color: #ffffff;
	background-color: #636363; 
	font-size: 20px;
}
.tts {
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}
.myTeam {
	padding-left: 20px; 
	padding-top: 20px;
	padding-bottom: 5px;
	padding-right: 20px;
	text-align: left;
	text-transform: uppercase;
}
.subheading,
.myDeadline {
	padding-left: 20px;
	text-align: left;
}
.playerName {
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-bottom-width: 2px; 
	padding-bottom: 10px; 
}
.tableSection {
	text-align: center; 
}
#footerContainer {
	background-color: #828282;
}

.actionButton,
.draftBtn,
.removeBtn,
.newLogoBtn {
	background-color: #333333; 
	margin-right: 5px; 
}

.actionButton:hover,
.editTeam:hover,
.draftBtn:hover,
.removeBtn:hover,
.newLogoBtn:hover {
	background-color: #999999; 
}

#deleteTeamBtn {
	background-color: #f54d27;
}

.modalTables {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: auto; 
}

.modalTables td, .modalTables th {
    border: 1px solid #ddd;
    padding: 8px;
}

.modalTables tr:nth-child(even){background-color: #f2f2f2;}

.modalTables tr:hover {background-color: #ddd;}

.modalTables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333333;
    color: white;
}

.modal.bottom-sheet {
	max-height: 100%;
	height: 100%; 
}

.modalClose {
	background-color: #333333;
}

.modalClose:hover {
	background-color: #999999; 
}

.teamsWrapper,
.dashWrapper {
	min-height: 600px; 
}

.btnCreateTeam {
	background-color: #cccccc; 
	margin-right: 5px;
	margin-top: 20px;
	margin-left: 120px; 
}

.btnCreateTeam:hover {
	background-color: #e2e1e1;
}

#colorPick,
#colorPickEdit {
	width: 40px;
	height: 40px; 
	border-style: none; 
}

.logoImages {
	width: 70px;
	height: 70px;
	margin-right: 20px;
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	border-radius: 6px; 
}

.logoImages:hover,
.logoImagesForm:hover {
	border-color: #4aaaa5; 
}

.logoImagesForm {
	width: 150px;
	height: 150px;
	margin-right: 20px;
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	border-radius: 6px; 
}

.infoWrapper {
	color: #000;
	width: 100%;
	background-color: #fff; 
	padding: 20px; 
	border-style: solid;
	border-radius: 6px; 
	line-height: 1.6;
	font-size: 20px; 
	margin-bottom: 20px; 
}
.deadline {
	margin-top: 10px; 
	padding: 10px;
	border-style: solid;
	border-radius: 6px;
	border-width: 2px;
	border-color: #fff; 
	color: #fff;
	width: 200px;
	text-align: center; 
}
.green {
	background-color: #62b000;
}
.red {
	background-color: #900000;
}
.editTeam {
	background-color: #333333; 
	margin-bottom: 20px; 
}

.teamLabel {
	margin-top: 5px;
}

.imgGrid {
	margin-right: 20px;
	float: left;
}

.newLogo {
	display: none; 
}